body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(0, 210, 244);
    padding: 20px;
    font-size: 32px;
    color:rgb(0, 210, 244);
}

section {
    background: rgb(143, 175, 226);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px;
}